In [1]:
pip install world_bank_data

Requirement already satisfied: world_bank_data in c:\users\ompra\anaconda3\lib\site-packages (0.1.3)
Requirement already satisfied: pandas in c:\users\ompra\anaconda3\lib\site-packages (from world_bank_data) (1.3.4)
Requirement already satisfied: cachetools in c:\users\ompra\anaconda3\lib\site-packages (from world_bank_data) (5.0.0)
Requirement already satisfied: requests in c:\users\ompra\anaconda3\lib\site-packages (from world_bank_data) (2.26.0)
Requirement already satisfied: pytz>=2017.3 in c:\users\ompra\anaconda3\lib\site-packages (from pandas->world_bank_data) (2021.3)
Requirement already satisfied: python-dateutil>=2.7.3 in c:\users\ompra\anaconda3\lib\site-packages (from pandas->world_bank_data) (2.8.2)
Requirement already satisfied: numpy>=1.17.3 in c:\users\ompra\anaconda3\lib\site-packages (from pandas->world_bank_data) (1.20.3)
Requirement already satisfied: six>=1.5 in c:\users\ompra\anaconda3\lib\site-packages (from python-dateutil>=2.7.3->pandas->world_bank_data) (1.16.0)
Requirement already satisfied: idna<4,>=2.5 in c:\users\ompra\anaconda3\lib\site-packages (from requests->world_bank_data) (3.2)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\ompra\anaconda3\lib\site-packages (from requests->world_bank_data) (2021.10.8)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in c:\users\ompra\anaconda3\lib\site-packages (from requests->world_bank_data) (1.26.7)
Requirement already satisfied: charset-normalizer~=2.0.0 in c:\users\ompra\anaconda3\lib\site-packages (from requests->world_bank_data) (2.0.4)
Note: you may need to restart the kernel to use updated packages.

In [2]:
pip install wbgapi

Requirement already satisfied: wbgapi in c:\users\ompra\anaconda3\lib\site-packages (1.0.7)
Requirement already satisfied: tabulate in c:\users\ompra\anaconda3\lib\site-packages (from wbgapi) (0.8.9)
Requirement already satisfied: PyYAML in c:\users\ompra\anaconda3\lib\site-packages (from wbgapi) (6.0)
Requirement already satisfied: requests in c:\users\ompra\anaconda3\lib\site-packages (from wbgapi) (2.26.0)
Requirement already satisfied: idna<4,>=2.5 in c:\users\ompra\anaconda3\lib\site-packages (from requests->wbgapi) (3.2)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in c:\users\ompra\anaconda3\lib\site-packages (from requests->wbgapi) (1.26.7)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\ompra\anaconda3\lib\site-packages (from requests->wbgapi) (2021.10.8)
Requirement already satisfied: charset-normalizer~=2.0.0 in c:\users\ompra\anaconda3\lib\site-packages (from requests->wbgapi) (2.0.4)
Note: you may need to restart the kernel to use updated packages.

In [4]:
pip install wbdata

Collecting wbdata
  Downloading wbdata-0.3.0-py3-none-any.whl (14 kB)
Requirement already satisfied: appdirs<2.0,>=1.4 in c:\users\ompra\anaconda3\lib\site-packages (from wbdata) (1.4.4)
Requirement already satisfied: decorator>=4.0 in c:\users\ompra\anaconda3\lib\site-packages (from wbdata) (5.1.0)
Requirement already satisfied: tabulate>=0.8.5 in c:\users\ompra\anaconda3\lib\site-packages (from wbdata) (0.8.9)
Requirement already satisfied: requests>=2.0 in c:\users\ompra\anaconda3\lib\site-packages (from wbdata) (2.26.0)
Requirement already satisfied: idna<4,>=2.5 in c:\users\ompra\anaconda3\lib\site-packages (from requests>=2.0->wbdata) (3.2)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\ompra\anaconda3\lib\site-packages (from requests>=2.0->wbdata) (2021.10.8)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in c:\users\ompra\anaconda3\lib\site-packages (from requests>=2.0->wbdata) (1.26.7)
Requirement already satisfied: charset-normalizer~=2.0.0 in c:\users\ompra\anaconda3\lib\site-packages (from requests>=2.0->wbdata) (2.0.4)
Installing collected packages: wbdata
Successfully installed wbdata-0.3.0
Note: you may need to restart the kernel to use updated packages.

In [5]:
import pandas as pd
import world_bank_data as wb
import wbgapi as wb
import wbdata as wb
pd.set_option('display.max_rows', 6)
wb.get_topic()

  id  value
----  -------------------------------
   1  Agriculture & Rural Development
   2  Aid Effectiveness
   3  Economy & Growth
   4  Education
   5  Energy & Mining
   6  Environment
   7  Financial Sector
   8  Health
   9  Infrastructure
  10  Social Protection & Labor
  11  Poverty
  12  Private Sector
  13  Public Sector
  14  Science & Technology
  15  Social Development
  16  Urban Development
  17  Gender
  18  Millenium development goals
  19  Climate Change
  20  External Debt
  21  Trade

In [6]:
wb.get_indicator(topic=5)

id                    name
--------------------  -----------------------------------------------------------------------------------
EG.EGY.PRIM.PP.KD     Energy intensity level of primary energy (MJ/$2011 PPP GDP)
EG.ELC.ACCS.RU.ZS     Access to electricity, rural (% of rural population)
EG.ELC.ACCS.UR.ZS     Access to electricity, urban (% of urban population)
EG.ELC.ACCS.ZS        Access to electricity (% of population)
EG.ELC.COAL.ZS        Electricity production from coal sources (% of total)
EG.ELC.FOSL.ZS        Electricity production from oil, gas and coal sources (% of total)
EG.ELC.HYRO.ZS        Electricity production from hydroelectric sources (% of total)
EG.ELC.LOSS.ZS        Electric power transmission and distribution losses (% of output)
EG.ELC.NGAS.ZS        Electricity production from natural gas sources (% of total)
EG.ELC.NUCL.ZS        Electricity production from nuclear sources (% of total)
EG.ELC.PETR.ZS        Electricity production from oil sources (% of total)
EG.ELC.RNEW.ZS        Renewable electricity output (% of total electricity output)
EG.ELC.RNWX.KH        Electricity production from renewable sources, excluding hydroelectric (kWh)
EG.ELC.RNWX.ZS        Electricity production from renewable sources, excluding hydroelectric (% of total)
EG.FEC.RNEW.ZS        Renewable energy consumption (% of total final energy consumption)
EG.GDP.PUSE.KO.PP     GDP per unit of energy use (PPP $ per kg of oil equivalent)
EG.GDP.PUSE.KO.PP.KD  GDP per unit of energy use (constant 2017 PPP $ per kg of oil equivalent)
EG.IMP.CONS.ZS        Energy imports, net (% of energy use)
EG.NSF.ACCS.RU.ZS     Access to non-solid fuel, rural (% of rural population)
EG.NSF.ACCS.UR.ZS     Access to non-solid fuel, urban (% of urban population)
EG.NSF.ACCS.ZS        Access to non-solid fuel (% of population)
EG.USE.COMM.CL.ZS     Alternative and nuclear energy (% of total energy use)
EG.USE.COMM.FO.ZS     Fossil fuel energy consumption (% of total)
EG.USE.COMM.GD.PP.KD  Energy use (kg of oil equivalent) per $1,000 GDP (constant 2017 PPP)
EG.USE.CRNW.ZS        Combustible renewables and waste (% of total energy)
EG.USE.ELEC.KH.PC     Electric power consumption (kWh per capita)
EG.USE.PCAP.KG.OE     Energy use (kg of oil equivalent per capita)
EN.ATM.CO2E.GF.ZS     CO2 emissions from gaseous fuel consumption (% of total)
EN.ATM.CO2E.LF.KT     CO2 emissions from liquid fuel consumption (kt)
EN.ATM.METH.EG.KT.CE  Methane emissions in energy sector (thousand metric tons of CO2 equivalent)
EN.ATM.METH.EG.ZS     Energy related methane emissions (% of total)
EN.ATM.NOXE.EG.KT.CE  Nitrous oxide emissions in energy sector (thousand metric tons of CO2 equivalent)
EN.ATM.NOXE.EG.ZS     Nitrous oxide emissions in energy sector (% of total)
EP.PMP.DESL.CD        Pump price for diesel fuel (US$ per liter)
EP.PMP.SGAS.CD        Pump price for gasoline (US$ per liter)
IC.ELC.DURS           Time to obtain an electrical connection (days)
IC.ELC.TIME           Time required to get electricity (days)
IC.FRM.BNKS.ZS        Firms using banks to finance investment (% of firms)
IC.FRM.OUTG.ZS        Value lost due to electrical outages (% of sales for affected firms)
IE.PPI.ENGY.CD        Investment in energy with private participation (current US$)
NY.ADJ.DMIN.CD        Adjusted savings: mineral depletion (current US$)
NY.ADJ.DMIN.GN.ZS     Adjusted savings: mineral depletion (% of GNI)
NY.ADJ.DNGY.CD        Adjusted savings: energy depletion (current US$)
NY.ADJ.DNGY.GN.ZS     Adjusted savings: energy depletion (% of GNI)
NY.ADJ.DRES.GN.ZS     Adjusted savings: natural resources depletion (% of GNI)
NY.GDP.MINR.RT.ZS     Mineral rents (% of GDP)
NY.GDP.NGAS.RT.ZS     Natural gas rents (% of GDP)
NY.GDP.PETR.RT.ZS     Oil rents (% of GDP)
NY.GDP.TOTL.RT.ZS     Total natural resources rents (% of GDP)
TM.VAL.FUEL.ZS.UN     Fuel imports (% of merchandise imports)
TM.VAL.MMTL.ZS.UN     Ores and metals imports (% of merchandise imports)
TX.VAL.FUEL.ZS.UN     Fuel exports (% of merchandise exports)
TX.VAL.MMTL.ZS.UN     Ores and metals exports (% of merchandise exports)

In [7]:
indicators = {"EG.ELC.ACCS.ZS":"Access_to_electricity(% of population", "EG.USE.ELEC.KH.PC":"Electric power consumption (kWh per capita)","EG.USE.PCAP.KG.OE":"Energy use (kg of oil equivalent per capita)", "EN.ATM.CO2E.GF.ZS":"CO2 emissions from gaseous fuel consumption (% of total)", "EN.ATM.CO2E.LF.KT":"CO2 emissions from liquid fuel consumption (kt)"}

In [8]:
LAMcountries = ['ARG','BLZ','BOL','BRA','CHL','COL','CRI','CUB','SLV','GTM','GUY','HTI','HND',
          'JAM','MEX','NIC','PAN','PRY','PER','PRI','SUR','URY','VEN']
NAMcountries=['USA','CAN']
#regions=['LCN','WLD','NAC'] #WORLD = WLD; LAT AM AND CARRIBEAN = LCN; NAC=North America
regions=['NAC','WLD','LCN']
allcountries=LAMcountries+NAMcountries
allregions=allcountries+regions

In [26]:
df = wb.get_dataframe(indicators,country=allregions)
df

                Access_to_electricity(% of population  \
country   date
Argentina 2020                                    NaN
          2019                                  100.0
          2018                                  100.0
...                                               ...
World     1962                                    NaN
          1961                                    NaN
          1960                                    NaN

                Electric power consumption (kWh per capita)  \
country   date
Argentina 2020                                          NaN
          2019                                          NaN
          2018                                          NaN
...                                                     ...
World     1962                                          NaN
          1961                                          NaN
          1960                                          NaN

                Energy use (kg of oil equivalent per capita)  \
country   date
Argentina 2020                                           NaN
          2019                                           NaN
          2018                                           NaN
...                                                      ...
World     1962                                           NaN
          1961                                           NaN
          1960                                           NaN

                CO2 emissions from gaseous fuel consumption (% of total)  \
country   date
Argentina 2020                                                NaN
          2019                                                NaN
          2018                                                NaN
...                                                           ...
World     1962                                          11.413496
          1961                                          10.727979
          1960                                          10.110440

                CO2 emissions from liquid fuel consumption (kt)
country   date
Argentina 2020                                              NaN
          2019                                              NaN
          2018                                              NaN
...                                                         ...
World     1962                                     3.418103e+06
          1961                                     3.185843e+06
          1960                                     3.025727e+06

[1708 rows x 5 columns]

In [27]:
df.shape
df.columns.values
df.info()
df.describe()
df.head()
df.head(10)
df.tail()
df.tail(10)

<class 'wbdata.api.WBDataFrame'>
MultiIndex: 1708 entries, ('Argentina', '2020') to ('World', '1960')
Data columns (total 5 columns):
 #   Column                                                    Non-Null Count  Dtype
---  ------                                                    --------------  -----
 0   Access_to_electricity(% of population                     767 non-null    float64
 1   Electric power consumption (kWh per capita)               1104 non-null   float64
 2   Energy use (kg of oil equivalent per capita)              1118 non-null   float64
 3   CO2 emissions from gaseous fuel consumption (% of total)  1539 non-null   float64
 4   CO2 emissions from liquid fuel consumption (kt)           1539 non-null   float64
dtypes: float64(5)
memory usage: 138.5+ KB

              Access_to_electricity(% of population  \
country date
World   1969                                    NaN
        1968                                    NaN
        1967                                    NaN
...                                             ...
        1962                                    NaN
        1961                                    NaN
        1960                                    NaN

              Electric power consumption (kWh per capita)  \
country date
World   1969                                          NaN
        1968                                          NaN
        1967                                          NaN
...                                                   ...
        1962                                          NaN
        1961                                          NaN
        1960                                          NaN

              Energy use (kg of oil equivalent per capita)  \
country date
World   1969                                           NaN
        1968                                           NaN
        1967                                           NaN
...                                                    ...
        1962                                           NaN
        1961                                           NaN
        1960                                           NaN

              CO2 emissions from gaseous fuel consumption (% of total)  \
country date
World   1969                                          13.968217
        1968                                          13.642661
        1967                                          13.246163
...                                                         ...
        1962                                          11.413496
        1961                                          10.727979
        1960                                          10.110440

              CO2 emissions from liquid fuel consumption (kt)
country date
World   1969                                     5.673121e+06
        1968                                     5.232388e+06
        1967                                     4.808931e+06
...                                                       ...
        1962                                     3.418103e+06
        1961                                     3.185843e+06
        1960                                     3.025727e+06

[10 rows x 5 columns]

In [28]:
data = df.copy()
data.reset_index(inplace=True)

In [29]:
data['text']=data['country']+data['date'].map(str)
data

,country,date,Access_to_electricity(% of population,Electric power consumption (kWh per capita),Energy use (kg of oil equivalent per capita),CO2 emissions from gaseous fuel consumption (% of total),CO2 emissions from liquid fuel consumption (kt),text
0,Argentina,2020,NaN,NaN,NaN,NaN,NaN,Argentina2020
1,Argentina,2019,100.0,NaN,NaN,NaN,NaN,Argentina2019
2,Argentina,2018,100.0,NaN,NaN,NaN,NaN,Argentina2018
...,...,...,...,...,...,...,...,...
1705,World,1962,NaN,NaN,NaN,11.413496,3.418103e+06,World1962
1706,World,1961,NaN,NaN,NaN,10.727979,3.185843e+06,World1961
1707,World,1960,NaN,NaN,NaN,10.110440,3.025727e+06,World1960

In [30]:
data1 = data.iloc[0:1647]
data1.tail(20)

,country,date,Access_to_electricity(% of population,Electric power consumption (kWh per capita),Energy use (kg of oil equivalent per capita),CO2 emissions from gaseous fuel consumption (% of total),CO2 emissions from liquid fuel consumption (kt),text
1627,"Venezuela, RB",1979,NaN,1835.725703,1935.398581,39.260572,38829.863,"Venezuela, RB1979"
1628,"Venezuela, RB",1978,NaN,1542.598167,1921.267277,37.817638,35826.590,"Venezuela, RB1978"
1629,"Venezuela, RB",1977,NaN,1400.420513,1830.998332,39.424626,30040.064,"Venezuela, RB1977"
...,...,...,...,...,...,...,...,...
1644,"Venezuela, RB",1962,NaN,NaN,NaN,19.776347,8049.065,"Venezuela, RB1962"
1645,"Venezuela, RB",1961,NaN,NaN,NaN,19.490149,11551.050,"Venezuela, RB1961"
1646,"Venezuela, RB",1960,NaN,NaN,NaN,16.661312,14895.354,"Venezuela, RB1960"

In [31]:
data1.head(10)

,country,date,Access_to_electricity(% of population,Electric power consumption (kWh per capita),Energy use (kg of oil equivalent per capita),CO2 emissions from gaseous fuel consumption (% of total),CO2 emissions from liquid fuel consumption (kt),text
0,Argentina,2020,NaN,NaN,NaN,NaN,NaN,Argentina2020
1,Argentina,2019,100.000000,NaN,NaN,NaN,NaN,Argentina2019
2,Argentina,2018,100.000000,NaN,NaN,NaN,NaN,Argentina2018
...,...,...,...,...,...,...,...,...
7,Argentina,2013,99.356224,2967.376558,1967.021678,49.366988,90835.257,Argentina2013
8,Argentina,2012,99.228859,3000.603523,1936.803540,53.469638,85657.453,Argentina2012
9,Argentina,2011,99.080200,2929.075029,1952.051053,52.274299,86977.573,Argentina2011

In [32]:
data2=data1.dropna()
data2

,country,date,Access_to_electricity(% of population,Electric power consumption (kWh per capita),Energy use (kg of oil equivalent per capita),CO2 emissions from gaseous fuel consumption (% of total),CO2 emissions from liquid fuel consumption (kt),text
6,Argentina,2014,100.000000,3074.702071,2029.922825,53.744348,87586.295,Argentina2014
7,Argentina,2013,99.356224,2967.376558,1967.021678,49.366988,90835.257,Argentina2013
8,Argentina,2012,99.228859,3000.603523,1936.803540,53.469638,85657.453,Argentina2012
...,...,...,...,...,...,...,...,...
1612,"Venezuela, RB",1994,98.323334,2665.759795,2324.974122,45.391298,63494.105,"Venezuela, RB1994"
1613,"Venezuela, RB",1993,98.239532,2697.686148,2049.504018,36.197225,69302.633,"Venezuela, RB1993"
1614,"Venezuela, RB",1992,97.820203,2689.309414,2249.819897,18.476779,73831.378,"Venezuela, RB1992"

In [33]:
data2.shape
data2.describe()

,Access_to_electricity(% of population,Electric power consumption (kWh per capita),Energy use (kg of oil equivalent per capita),CO2 emissions from gaseous fuel consumption (% of total),CO2 emissions from liquid fuel consumption (kt)
count,537.000000,537.000000,537.000000,537.000000,5.370000e+02
mean,88.330460,3201.388654,1943.707057,14.270363,3.015548e+05
std,14.929808,4566.648445,2385.349097,16.009996,6.743868e+05
...,...,...,...,...,...
50%,94.664978,1513.158055,1022.160344,7.076101,2.083589e+04
75%,98.820000,2602.250605,1599.516711,25.213470,2.057297e+05
max,100.000000,17264.736744,8455.547014,67.060262,2.699517e+06

In [34]:
data3=data2.sort_values(by='date', ascending='True')
data3

,country,date,Access_to_electricity(% of population,Electric power consumption (kWh per capita),Energy use (kg of oil equivalent per capita),CO2 emissions from gaseous fuel consumption (% of total),CO2 emissions from liquid fuel consumption (kt),text
396,Colombia,1990,89.900000,871.593984,731.743962,17.149192,31136.497,Colombia1990
1006,North America,1990,100.000000,12158.089105,7667.611043,21.453940,2200111.992,North America1990
30,Argentina,1990,92.154800,1303.978019,1412.179959,43.317907,59236.718,Argentina1990
...,...,...,...,...,...,...,...,...
1470,Uruguay,2014,99.657085,3085.189883,1386.018099,1.410385,6233.900,Uruguay2014
555,Guatemala,2014,85.494371,601.189731,863.568935,0.000000,9739.552,Guatemala2014
6,Argentina,2014,100.000000,3074.702071,2029.922825,53.744348,87586.295,Argentina2014

In [35]:
data3.describe()

,Access_to_electricity(% of population,Electric power consumption (kWh per capita),Energy use (kg of oil equivalent per capita),CO2 emissions from gaseous fuel consumption (% of total),CO2 emissions from liquid fuel consumption (kt)
count,537.000000,537.000000,537.000000,537.000000,5.370000e+02
mean,88.330460,3201.388654,1943.707057,14.270363,3.015548e+05
std,14.929808,4566.648445,2385.349097,16.009996,6.743868e+05
...,...,...,...,...,...
50%,94.664978,1513.158055,1022.160344,7.076101,2.083589e+04
75%,98.820000,2602.250605,1599.516711,25.213470,2.057297e+05
max,100.000000,17264.736744,8455.547014,67.060262,2.699517e+06

In [36]:
dataw = data.iloc[1648:1708]
dataworld = dataw.dropna()
dataworld

,country,date,Access_to_electricity(% of population,Electric power consumption (kWh per capita),Energy use (kg of oil equivalent per capita),CO2 emissions from gaseous fuel consumption (% of total),CO2 emissions from liquid fuel consumption (kt),text
1653,World,2014,85.552847,3128.298712,1919.991765,20.336427,1.036714e+07,World2014
1654,World,2013,85.031065,3106.981734,1894.112059,20.170828,1.020665e+07,World2013
1655,World,2012,84.745819,3047.755531,1891.700426,20.216118,1.013381e+07,World2012
...,...,...,...,...,...,...,...,...
1667,World,2000,78.736034,2386.825244,1637.205968,20.662066,9.274896e+06,World2000
1668,World,1999,74.708477,2317.327280,1623.839599,20.716253,9.044144e+06,World1999
1669,World,1998,73.406490,2284.670692,1611.335079,19.885250,8.898867e+06,World1998

In [37]:
dataworld.describe()

,Access_to_electricity(% of population,Electric power consumption (kWh per capita),Energy use (kg of oil equivalent per capita),CO2 emissions from gaseous fuel consumption (% of total),CO2 emissions from liquid fuel consumption (kt)
count,17.000000,17.000000,17.000000,17.000000,1.700000e+01
mean,80.826483,2705.724699,1768.351915,20.263791,9.692576e+06
std,3.338761,288.516132,108.412889,0.286536,4.133745e+05
...,...,...,...,...,...
50%,81.251031,2732.640247,1796.215452,20.216118,9.779347e+06
75%,82.765005,2958.343199,1874.657688,20.438915,9.955128e+06
max,85.552847,3128.298712,1919.991765,20.716253,1.036714e+07

In [43]:
data3.corr()

,Access_to_electricity(% of population,Electric power consumption (kWh per capita),Energy use (kg of oil equivalent per capita),CO2 emissions from gaseous fuel consumption (% of total),CO2 emissions from liquid fuel consumption (kt)
Access_to_electricity(% of population,1.000000,0.428142,0.426809,0.365172,0.307581
Electric power consumption (kWh per capita),0.428142,1.000000,0.989543,0.366663,0.712610
Energy use (kg of oil equivalent per capita),0.426809,0.989543,1.000000,0.397099,0.771272
CO2 emissions from gaseous fuel consumption (% of total),0.365172,0.366663,0.397099,1.000000,0.247726
CO2 emissions from liquid fuel consumption (kt),0.307581,0.712610,0.771272,0.247726,1.000000

In [46]:
#print(data3['date'].corr(data3['Access_to_electricity(% of population']))

In [47]:
dataworld.corr()

,Access_to_electricity(% of population,Electric power consumption (kWh per capita),Energy use (kg of oil equivalent per capita),CO2 emissions from gaseous fuel consumption (% of total),CO2 emissions from liquid fuel consumption (kt)
Access_to_electricity(% of population,1.000000,0.927149,0.913741,-0.220728,0.954869
Electric power consumption (kWh per capita),0.927149,1.000000,0.992909,-0.373846,0.956836
Energy use (kg of oil equivalent per capita),0.913741,0.992909,1.000000,-0.427884,0.962349
CO2 emissions from gaseous fuel consumption (% of total),-0.220728,-0.373846,-0.427884,1.000000,-0.336303
CO2 emissions from liquid fuel consumption (kt),0.954869,0.956836,0.962349,-0.336303,1.000000